.btn {
  // padding: 4.5% 7.5%;
  padding: 20px 36px;
  background-color: #fff;
  border-radius: 70px;
  color: $green;
  cursor: pointer;
  font-size: rem(16px);
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  // letter-spacing: -1.2px;
  text-align: center;
  &:hover {
    background: $green;
    color: #fff;
  }
}

.btn--green {
  background: $green;
  color: #fff;

  &:hover {
    background: $dark-green;
  }

}