.chocco-menu {
  height: 100%;
}

.chocco-menu__list {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.chocco-menu__item {
  display: flex;
  position: relative;
  justify-content: flex-end;
  flex: 0;
}

.chocco-menu__trigger--clone {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}


.chocco-menu__trigger {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: rem(100px);
  height: 100%;
  text-decoration: none;
  padding-bottom: 64px;

  @include tablets {
    width: rem(75px);
  }

  @include phones {
    width: rem(65px);
  }
}

.chocco-menu__title {
  font-size: rem(48px);
  font-weight: 700;
  white-space: nowrap;
  transform: rotate(270deg);

}

.chocco-menu__content {
  width: 0;
  overflow: hidden;


  background-color: $dark-grey;
  font-size: rem(16px);
  line-height: 1.49;
  background-color: rgb(43 42 42 / 89%);
}

.chocco-menu__milk {
  background: url(./../img/menu/menu1.jpg) center center / cover no-repeat;
}

.chocco-menu__honey {
  background: url(./../img/menu/menu2.jpg) center center / cover no-repeat;
}

.chocco-menu__berries {
  background: url(./../img/menu/menu3.jpg) center center / cover no-repeat;
}

.chocco-menu__trigger--clone {
  display: none;
}

.chocco-menu__btn {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 24px;
  right: 30px;


}

.chocco-menu__item--active {
  flex: 1;
  width: 100%;


  .chocco-menu__btn {
    display: block;
  }

  .chocco-menu__content {
    width: 100%;
    padding: 7.5% 18% 10% 4.5%;
    transition: 0.7s;
  }

  .chocco-menu__trigger--clone {
    display: flex;
  }
}