.delicacy {
  display: flex;
  justify-content: space-between;
  height: 100%;

  @include tablets {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.delicacy__left-col,
.delicacy__right-col {
  width: 50%;
  position: relative;

  @include tablets {
    width: 100%;
    text-align: center;
  }
}

.delicacy__left-col {
  padding-left: 6%;
  padding-top: 3%;
  padding-bottom: 4%;
  max-height: 50%;

  @include tablets {
    padding: 0;
    width: auto;
  }
}

.delicacy__right-col {
  height: 50%;

  padding-left: 7%;
  padding-top: 12%;
  padding-right: 4%;

  @include tablets {
    padding: 0;
  }
}


.delicacy__compound {
  position: absolute;
  top: 0;
  left: 15%;
  width: rem(90px);
  height: rem(90px);
  background-color: $blue;
  color: $white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablets {
    display: none;
  }

}



.delicacy__title {
  margin-bottom: 4%;
  font-size: rem(36px);
  font-weight: 800;
  text-align: left;
  color: #000;
  text-transform: uppercase;

  @include tablets {
    text-align: center;
  }
}

.delicacy__text {
  font-weight: 500;
  color: #666;
  margin-bottom: 10%;

  @include tablets {
    margin-bottom: 2%;
  }
}

.delicacy__info {
  display: flex;

  @include tablets {
    justify-content: center;

  }
}

.delicacy__info-block {
  display: flex;
  flex-direction: column;
  font-size: rem(22px);

  margin-right: 14%;
  margin-bottom: 5%;

  @include tablets{
    margin-bottom: 2%;
  }

  &:last-child {
    margin-right: 0;
  }

  .delicacy__info-title {
    color: #666;
    font-weight: 500;
  }

  .delicacy__info-weight {
    font-weight: 600;
    font-size: rem(22px);
  }


}

.delicacy__btns {
  display: flex;
  font-size: rem(64px);
  align-items: center;

  @include tablets {
    text-align: center;
    justify-content: center;
  }
}

.delicacy__price {
  font-size: rem(60px);
  margin-right: 6%;
}

.delicacy__btn {
  word-wrap: nowrap;
  padding: 5% 11%;
  background-color: $green;
  color: $white;
  border: none;
}

.compound {
  flex-direction: column;
  justify-content: space-evenly;

  .compound__list {
    display: none;
  }

  &:hover {
    .compound__list {
      display: block;
    }
  }
}

.delicacy__img-wrapper {
  width: 100%;
  position: relative;

  @include tablets {
    height: 100%;
  }

  @include phones {
    display: flex;
    align-items: flex-end;
  }
}


.delicacy__img-decoration {


  .leaf3 {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .leaf4 {
    position: absolute;
    left: 0%;
    top: 30%;

  }
}


.compound__img {
  width: rem(51px);
  height: rem(51px);
}

.compound__title {
  text-transform: uppercase;
  font-size: rem(14px);
  font-weight: bold;
}

.compound__list {
  position: absolute;
  width: rem(270px);
  color: black;
  border: 1px solid $blue;
  border-radius: 5px;
  top: 0;
  left: 99%;
  padding: 25%;
  padding-left: 34%;
  padding-right: 15%;
  background-color: $white;
}

.compound__item {
  display: flex;
  align-items: center;
  font-size: rem(16px);
  font-weight: 500;
  margin-bottom: 6.5%;
}

.compound__icon {
  width: rem(35px);
  margin-right: rem(24px);
}

.compound__weight {
  margin-left: auto;
}