.features {
  background: white;
}

.features__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features__content-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4%;
}

.features__desc {
  font-size: rem(18px);
  text-align: center;
  padding: 0% 28%;

  @include tablets{
    padding: 0 10%;
  }
}

.features__title {
  margin-bottom: rem(9px);
  text-wrap: nowrap;
  font-size: rem(44px);
}

.features__list {
  display: flex;
  justify-content: space-between;
  padding: 1% 0%;

  @include phones{
    flex-direction: column;
  }
}

.features__item {
  width: calc(100% / 3 - 40px);
  position: relative;


  &::after {
    content: "\25CF  \2B24  \25CF";
    display: block;
    color: #f3f5f3;
    position: absolute;
    top: 14%;
    right: -25%;
    font-size: 30px;

  }

  &:last-child {
    &::after {
      display: none;
    }
  }

  @include tablets {
    width: calc(100% / 3 - 20px);

    &::after {
      display: none;
    }
  }

  @include phones {
    width: 100%;
    margin-bottom: 2%;
  }
}




.features__decoration {
  display: block;

  .leafpattern {
    width: 45%;
    top: 0;
    left: -10%;
    transform: translate(-50%, 0%)
  }


  .raspberry {
    bottom: 1%;
    left: -6%;
    width: 28%;
  }


  .ornament {
    bottom: 15%;
    right: 1%;
    width: auto;
    height: 70%;
    transform: translate(100%, 0%);

    @include phones{
      display: none;
    }
  }
}