.menu{
  display: flex;
}

.menu__list{
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.menu__item{
  margin-right: 0px;
  text-wrap: nowrap;
}

.menu__link{
  text-decoration: none;
}