.menu{
  display: flex;
  flex: 1;
  padding: 0 4.5%;
}

.menu__list{
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.menu__item{
  margin-right: 0px;
}

.menu__link{
  text-decoration: none;
}