.order-section {
  background: url('./../img/bg/order-section.jpg') center center / cover no-repeat;
}

.order-section__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.order-section__title {
  padding-top: 7.75%;
  padding-bottom: 4.5%;
  color: $green;
  text-align: center;

  @include tablets {
    padding: 2% 0%;

  }
}

.order-section__order {
  padding-bottom: 8.5%;
}

.order-section__decoration {
  display: block;

  .leaf6 {
    bottom: 26%;
    right: -1%;
    width: 14%;
    transform: translate(50%, 50%);

    @include tablets {
      bottom: 9%;
      right: 0%;
      width: auto;
      height: 12%;
    }
  }

  .berry7 {
    bottom: 17%;
    left: -4.5%;
    width: 5%;

    @include tablets {
      bottom: 20%;
      left: -2%;
      width: auto;
      height: 5%;
    }
  }
}