.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  display: none;
}

.overlay__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay__closebtn {
  top: 3%;
  right: 4%;
}