.reviews__list {
  display: flex;
}

.reviews__item {
  width: 80px;
  height: 80px;
  border: 5px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;

  margin-right: rem(10px);

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border: 5px solid $green;
  }
}


.reviews__link {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img{
    width: 100%;
    height: 100%;
  }
}

.reviews__item--active {
  border: 5px solid $green;
}

.reviews-btn__new {
  width: 100%;
  height: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $green;
    width: 50%;
    height: 10%;
    border-radius: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    background: $green;
    width: 50%;
    height: 10%;
    border-radius: 10px;
  }
}