.reviews-btns__list {
  display: flex;
}

.reviews-btns__item {
  margin-right: rem(10px);

  &:last-child {
    margin-bottom: 0;
  }
}


.reviews-btns__link {
  display: block;
  border: 5px solid transparent;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.reviews-btns__link--active {
  border: 5px solid $green;
}