.reviews__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__title {
  padding-bottom: 3.5%;
}

.reviews__list {
  margin-bottom: 1.5%;
}

.reviews__decoration {
  display: block;

  .berry5 {
    right: 1%;
    top: -2%;
    width: 16%;
    transform: translate(50%, 50%);
  }

  .berry6 {
    left: -1%;
    bottom: 2%;
    width: 15%;
  }


  .ornament {
    top: 0%;
    right: -5%;
    width: auto;
    height: 100%;
    transform: translate(100%, 0%);
  }

  .ornament-berry {
    bottom: 0;
    left: -3%;
    width: 33%;
  }

}