.section {
  display: flex;
  flex-direction: column;
  // min-width: 650px;
  height: 100vh;

}

.section__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: rem(46px);
  letter-spacing: 1px;
  text-align: left;
  line-height: normal;

}
