.slider {
  background: #f8faf9;
}

.slider__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 980px;
}

.slider__decoration {
  display: block;


  .berry3 {
    bottom: -3%;
    right: -13%;
    width: 14%;
  }
}

.slidermenu {
  position: relative;
  padding: 7% 2% 8%;
  height: 100%;

  @include tablets {
    padding: 2% 14%;
  }
}

.slidermenu__list {
  height: 100%;
}

.slidermenu__item {
  padding: 0 0;
  height: 100%;
}

.slidermenu__arrow {
  display: block;
  width: 15px;
  height: 30px;
  position: absolute;
  top: 48%;



  &-icon {
    fill: $black;
  }

  &-prev {
    transform: rotate(180deg);
    left: 0%;

    @include tablets {
      left: 7%;
    }
  }

  &-next {
    right: 0%;

    @include tablets {
      right: 7%;
    }

  }

}