.slider {
  background: #f8faf9;
}

.slider__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 980px;
  height: 100vh;
}

.slider__decoration {
  display: block;



  .berry3 {
    transform: translate(50%, 50%);
    bottom: -3%;
    right: -13%;
    width: 14%;

    @include tablets {
      width: auto;
      height: 11%;
      bottom: 0;
      right: -1%;
    }
  }
}

.slidermenu {
  position: relative;
  padding: 7% 2% 8%;
  height: 100%;
  width: 100%;

  @include tablets {
    padding: 2% 14%;
  }
}

.slidermenu__list {
  height: 100%;
  overflow: hidden;
  position: relative;

  .transition-left {
    right: 120%;
  }

  .transition-right {
    right: -120%;
  }

  .slidermenu__item--active {
    right: 0;
  }

  .prev-right {
    right: 100%;
    transition: right 1s;

    @include tablets {
      transition: right 0.4s;
    }
  }

  .prev-left {
    right: -100%;
    transition: right 1s;

    @include tablets {
      transition: right 0.4s;
    }

  }
}

.slidermenu__item {
  position: absolute;
  padding: 0 0;
  height: 0%;
  width: 100%;
  overflow: hidden;
  right: 0;
  top: 0;
  transition: right 1s;

  @include tablets {
    transition: right 0.4s;
  }

  &--active {
    position: relative;
    display: flex;
    height: 100%;
  }

}


.slidermenu__arrow {
  display: block;
  width: 15px;
  height: 30px;
  position: absolute;
  top: 48%;



  &-icon {
    fill: $black;
  }

  &-prev {
    transform: rotate(180deg);
    left: 0%;

    @include tablets {
      left: 7%;
    }
  }

  &-next {
    right: 0%;

    @include tablets {
      right: 7%;
    }

  }

}