.slider {
  background: #f8faf9;
}

.slider__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider__decoration{
  display: block;


  .berry3{
    bottom: -3%;
    right: -13%;
    width: 14%;
  }
}

.slidermenu {
  padding-top: 2%;
  padding-bottom: 8%;
  position: relative;
}

.slidermenu__item {
  padding: 0 0;
}

.slidermenu__arrow {
  display: block;
  width: 15px;
  height: 30px;
  position: absolute;
  top: 48%;



  &-icon {
    fill: $black;
  }

  &-prev {
    transform: rotate(180deg);
    left: -3%;
  }

  &-next {
    // transform: rotate(180deg);
    right: -3%;
  }

}