.teammate {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 240px;
  width: 100%;
}

.teammate__img-wrapper {
  margin-bottom: 21px;

  @include tablets{
    display: none;
  }
}

.teammate__name {
  font-size: 21px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  text-align: center;

  &::before {
    content: '\25BC';
    display: inline-block;
    order: 10;
    font-size: 14px;
  }

  &::after {
    display: none;
  }
}




.teammate__prof {
  display: none;
  margin-bottom: 1px;
}

.teammate__info {
  display: none;
  text-align: center;
  color: #666666;
}

.teammate--active{

  .teammate__name{
    &::before {
      display: none;
    }
  
    &::after {
      content: '\25B2';
      display: inline-block;
      font-size: 14px;
    }
  }


  .teammate__info{
    display: block;
  }

  .teammate__prof{
    display: block;
  }

  .teammate__img-wrapper{
    display: block;
  }
}