.teammate {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 240px;
  width: 100%;
  height: 100%;
  @include tablets{
    height: 30px;
  }
}

.teammate__img-wrapper {
  margin-bottom: rem(21px);
  
  @include tablets {
    display: none;
    margin-bottom: 4px;
  }
}

.teammate__name {
  font-size: rem(21px);
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: rem(6px);
  text-align: center;
  cursor: pointer;

  &::before {
    content: '\25BC';
    display: inline-block;
    order: 10;
    font-size: 14px;
  }

  &::after {
    display: none;
  }
}




.teammate__prof {
  display: none;
  margin-bottom: 1px;
}

.teammate__info {
  display: none;
  text-align: center;
  color: #666666;
}

.teammate--active {

  @include tablets{
    height: 380px;
    transition: height 0.4s;
  }

  .teammate__name {
    &::before {
      display: none;
    }

    &::after {
      content: '\25B2';
      display: inline-block;
      font-size: 14px;
    }
  }


  .teammate__info {
    display: block;
  }

  .teammate__prof {
    display: block;
  }

  .teammate__img-wrapper {
    height: 100%;
    display: block;
  }
}